/* =========================================================
   GLOBAL BASE STYLES
========================================================= */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: url("assets/Little/cursor.png"), auto !important;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: var(--color-bg-selection);
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body);
}

/* Links */
a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover, a:active { color: var(--color-link-hover); }
a:focus { outline: 1px solid var(--color-accent-primary); }

a:visited {
  color: inherit;      /* keep the same color as normal links */
  text-decoration: none; /* optional: remove underline if desired */
}

/* Images */
img, svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  vertical-align: top;
  z-index: 1;
}

/* Typography */
h1 { font-size: 2.2rem; font-family: var(--font-family-heading); line-height: 1.2; font-weight: 400; color: var(--color-text-primary); }

h2 { font-size: 1.75rem; font-family: var(--font-family-heading); line-height: 1.2; text-transform: uppercase; color: var(--color-text-primary); }
h3 {
  font-family: var(--font-family-heading);
  font-weight: 400;
  font-size: clamp(2rem, 5vw, 2.5rem); /* scales between 2rem and 2.5rem based on viewport */
  line-height: clamp(2.5rem, 6vw, 3.5rem); /* keeps spacing proportional and responsive */
  margin: 0;
  color: var(--color-text-primary); 
}

h4 { font-size: 1.2rem; color: var(--color-text-primary); }

h5 { font-size: 1.1rem; color: var(--color-text-primary); }

h6 { font-size: 1rem; color: var(--color-accent-secondary); }

p { font-size: 1.2rem; line-height: 1.5; font-weight: 300; margin-bottom: 1rem; }

.strong { font-weight: 700; }
.em { font-style: italic; }

.hero-text {
  font-size: 1.6rem;
  line-height: 1.1;
  padding-top: 4rem;
  font-family: var(--font-family-heading);
  font-weight: 400;
  color: var(--color-text-secondary);
}

html, body {
  height: auto;
  overflow: visible;
}

[data-scroll-container] {
  position: relative;
  overflow: hidden;
}

[data-scroll-section] {
  position: relative;
}

body.work-page {
  background-color: #000;
}