#scrollTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  z-index: 1000;
}

#scrollTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#scrollTop:hover {
transform: scale(1.1);
animation: spin 3s linear infinite;

}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#scrollTop .arrow {
  position: absolute;
  font-size: 1.2rem;
  top: 45%;
}



