/* =========================================================
   CSS VARIABLES
========================================================= */

:root {
  /* Fonts */
  --font-heading: "Instrument Serif", serif;
  --font-body: "DM Sans", sans-serif;
  --font-family-body: "DM Sans", sans-serif;
  --font-family-heading: "Newsreader", serif;
  --font-family-project-title: "Newsreader", serif;

  /* Colors */
  --color-accent-primary: #c2bd42;
  --color-accent-secondary: #282828;
  --color-highlight: #fbd24b;
  --color-fallback: #fbd24b;

  --color-bg: #FCFCFE;
  --color-bg-about: #FCFCFE;
  --color-bg-footer: #FCFCFE;
  --color-bg-rgb: 248, 248, 248;

  --color-bg-project-description: #282828;
  --color-bg-sidebar-project: lightskyblue;

  --color-text-primary: #282828;
  --color-text-secondary: #000000;
  --color-text-project-title: #282828;
  --color-text-project-description: #282828;
  --color-text-project-category: #282828;
  --color-text-project-title-secondary: lightgrey;

  --color-link: #282828;
  --color-link-hover: lightskyblue;

  --color-nav-link: #282828;
  --color-nav-link-hover: lightskyblue;


  --small-gap: 1.6667vw;

  --image-noise-texture: url(/assets/temp/noise.svg);

  /* Animation durations */
  --duration-fast: 0.15s;
  --duration-normal: 0.3s;
  --duration-slow: 0.75s;

  /* Spacing */
  --padding-tiny: 0.5rem;
  --padding-small: 1.6667vw;
  --padding-small-sides: 6rem;
  --padding-medium: 2rem;
  --padding-large: 3rem;
  --padding-jumbo: 4rem;
  --padding-ultra: 8rem;

  /* Border radius */
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 2rem;
  --radius-full: 50%;
}
